---
import { FIGHTERS } from "@/consts/fighters"
import BoxerCard from "./BoxerCard.astro"
import Landing from "./Landing.astro"
import FighterContainer from "./FighterContainer.astro"

const firstRow = FIGHTERS.slice(0, 6)
const leftRow = firstRow.slice(0, 3)
const rightRow = firstRow.slice(3)
const secondRow = FIGHTERS.slice(6)
---

<section class="relative flex min-h-screen w-full">
  <div
    class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
  >
  </div>

  <div class="relative flex flex-col items-center p-8 w-full text-center">
    <div class="absolute inset-0 w-full py-32">
      <Landing />
    </div>

    <div class="absolute inset-0">
      <FighterContainer FIGHTERS={FIGHTERS} />
    </div>
    <div
      class="relative flex flex-col items-center justify-end p-8 h-full w-full max-w-6xl gap-4"
    >
      <div class="flex flex-wrap justify-between w-full px-4">
        <div class="flex flex-wrap justify-start gap-4">
          {leftRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
        <div class="flex flex-wrap justify-end gap-4">
          {rightRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
      </div>

      <div class="flex flex-wrap justify-between gap-4">
        {secondRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
    </div>
  </div>
</section>

<style>
  .mask-fade-text {
    mask-image: linear-gradient(
      to bottom,
      transparent 5%,
      black 6%,
      black 95%,
      transparent 100%
    );
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const $landing = document.querySelector("#landing")

    let currentFighterId: string | null = null

    document.addEventListener("boxer-card-exit", () => {
      $landing?.classList.remove("hidden")

      if (currentFighterId) {
        document
          .querySelector(`[data-id="hero-text-${currentFighterId}"]`)
          ?.classList.add("hidden")

        document
          .querySelector(`[data-id="hero-image-${currentFighterId}"]`)
          ?.classList.add("hidden")

        currentFighterId = null
      }
    })

    document.addEventListener("boxer-card-hovered", (event: Event) => {
      const customEvent = event as CustomEvent<{ id: string }>
      const id = customEvent.detail.id

      // si el luchador que entras es el mismo que ya se muestra
      // entonces no hacemos nada
      if (currentFighterId === id) return

      // si ya estamos mostrando un luchador, tenemos que ocultarlo
      if (currentFighterId) {
        document
          .querySelector(`[data-id="hero-text-${currentFighterId}"]`)
          ?.classList.add("hidden")

        document
          .querySelector(`[data-id="hero-image-${currentFighterId}"]`)
          ?.classList.add("hidden")
      }

      $landing?.classList.add("hidden")

      // mostramos el luchador que quiere ver el usuario
      document
        .querySelector(`[data-id="hero-text-${id}"]`)
        ?.classList.remove("hidden")

      document
        .querySelector(`[data-id="hero-image-${id}"]`)
        ?.classList.remove("hidden")

      currentFighterId = id
    })
  })
</script>
